/* Setting */
:root {
  /* Size */
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  /* Box */
  --radius-1: 0.1rem;
  --radius-2: 0.2rem;
  /* Color */
  --clr-white: white;
  --clr-light: grey;
  --clr-dark: darkgrey;
  --clr-black: black;
  --clr-primary: cyan;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
}
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  block-size: 20rem;
  inline-size: 15rem;
}
#root {
  block-size: 100%;
}
